{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0 text-tight">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.Lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "/learn/introduction/" | absURL }}" role="button">Get
      started</a>
      <!--      <p class="meta">Open-source Apache License 2.0 Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ .Site.Data.doks.version }}</a></p>-->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm section-services">
  <h2 class="text-center mb-4">Supported Services</h2>
  <div class="container">
    <div class="text-center w-50 m-auto">
      <p>Spring Cloud AWS supports subset of AWS services, drastically reducing time needed to use their capabilities in Spring Boot application.</p>
    </div>
    <div class="row justify-content-center text-center mt-5">
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/RDS.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">RDS</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/SQS.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">SQS</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/SNS.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">SNS</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/Cloudwatch.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">CloudWatch</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/Secrets-Manager.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">Secrets Manager</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/Parameter-Store.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">Parameter Store</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/Elasticache.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">Elasticache</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/Cloudformation.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">Cloudformation</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/S3.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">S3</h4>
      </div>
      <div class="col-5 col-lg-3">
        <div>
          <img src="/images/EC2.png" class="border-0 rounded-circle"/>
        </div>
        <h4 class="h4">EC2</h4>
      </div>
    </div>
  </div>
</section>

<!--<section class="section section-sm">-->
<!--  <h2 class="text-center mb-5">Latest News</h2>-->
<!--  <div class="card-list container">-->
<!--    {{- range ( where site.RegularPages "Section" "news" | first 3 ) }}-->

<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h4 class="h4"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h4>-->
<!--        <p>{{ .Params.lead | safeHTML }}</p>-->
<!--        {{ partial "main/blog-meta.html" . -}}-->
<!--      </div>-->
<!--    </div>-->
<!--    {{ end -}}-->
<!--  </div>-->
<!--</section>-->

<section class="section section-sm">
  <h2 class="text-center mb-4">Contributors</h2>
  <div class="container">
    <div class="text-center">
      <p>Thanks goes to these great people 💚</p>
    </div>
    <div class="mt-4 row justify-content-center text-center">
      <div id="contributors" class="mt-4 w-75 row justify-content-center text-center"></div>
    </div>
    <script type="text/javascript">
      let responses = [];
      for (let i = 1; i <= 2; i++) {
        responses.push(fetch('https://api.github.com/repos/awspring/spring-cloud-aws/contributors?page=' + i))
      }

      Promise.all(responses)
        .then(r => r.map(response =>
          response.json()
            .then(contributors => contributors
              .filter(c => c.login !== 'spring-buildmaster' && c.login !== 'spring-operator')
              .map(c => '<div class="col-3 col-lg-1 p-1"><a href="' + c.html_url + '"><img class="w-100 border-0 rounded-circle" src="' + c.avatar_url + '"/></a></div>')
              .join(''))
            .then(html => document.getElementById('contributors').innerHTML += html)
        ));
    </script>
  </div>
</section>

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
